<div class="container">
  <h1>Welcome - Day 3 Project</h1>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/pipedemo">Pipe Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/abcd">Not found</a>
    </li>
  </ul>

  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->
  <!-- <app-observabledemo></app-observabledemo> -->
  <!-- <app-postlist></app-postlist> -->

  <router-outlet></router-outlet>
</div>
